<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->
  <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">

  </mat-drawer>
  <!-- FIN SIDEBAR -->

  <!-- CONTENT WRAPPER-->
  <div class="example-sidenav-content">
    <!-- TOOLBAR color="primary"-->
    <mat-toolbar>
      <span>{{title}}</span>
    </mat-toolbar>

    <!-- FIN TOOLBAR -->

    <main class="p-3">
      <!-- <app-home></app-home> -->
      <app-users></app-users>
    </main>
  </div>
</mat-drawer-container>
